.hamburger {
  width: 20px;
  height: 20px;
}
.navbar {
  display: flex;
  margin-right: 20px;
  margin-left: 20px;
  padding: 0 20px;
  justify-content: space-around;
}

.navbar li {
  margin: 0;
}

.navbar a {
  text-decoration: none;
  color: #000;
  padding: 10px 15px;
}
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Расположение элементов в столбец */
    align-items: flex-start; /* Выравнивание в начало */
    padding: 10px; /* Уменьшение отступов */
  }
.navbar .logo {
  margin-bottom: 10px; /* Отступ снизу логотипа */
  margin-right: 0; /* Убираем правый отступ для логотипа */
}
.navbar ul {
  flex-direction: column; /* Меню столбцом */
  align-items: flex-start; /* Выравнивание элементов в начало */
  padding: 0; /* Убираем внутренние отступы */
}

.navbar li {
  margin-bottom: 8px; /* Отступ между элементами списка */
}

.navbar a {
  padding: 8px 12px; /* Уменьшение отступов у ссылок */
}
}